.header {
    display: flex;
    width: 100%;
    background-color: #f0f0f0;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    border: 2px #d2d2d2 none;
    border-bottom-style: solid;
    z-index: 999998;
    font-family: 'Signika Negative', sans-serif;
}