.App {
    display: block;
    position: relative;
    width: 100%;
    font-family: 'Signika Negative', sans-serif;
}

.restaurantPage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.photoAndInfoContainer {
    display: flex;
    margin-left: 5%;
}

.commentsContainer {
    margin-left: 5%;
}

.allInCenter {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
