.App {
    display: block;
    position: relative;
    width: 100%;
    font-family: 'Signika Negative', sans-serif;
}

.restaurantPage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.photoAndInfoContainer {
    display: flex;
    margin-left: 5%;
}

.commentsContainer {
    margin-left: 5%;
}

.allInCenter {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes smoothAppearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/*.fade-enter {*/
/*    opacity: 0;*/
/*}*/
/*.fade-enter.fade-enter-active {*/
/*    opacity: 1;*/
/*    transition: opacity 2000ms ease-out;*/
/*}*/
/*.fade-exit {*/
/*    opacity: 1;*/
/*}*/
/*.fade-exit.fade-exit-active {*/
/*    opacity: 0;*/
/*    transition: opacity 2000ms ease-out;*/
/*}*/