.main {
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
}

.background {
    height: 100%;
    width: 100%;
}

.right {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: dimgrey none 1px;
    border-left-style: solid;
    position: absolute;
    right: -7px;
    top: -7px;
    transform: rotate(-45deg);
}

.left {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: dimgrey none 1px;
    border-left-style: solid;
    position: absolute;
    right: -7px;
    top: 9px;
    transform: rotate(45deg);
}

.userInfoMenuButton:hover .background {
    background-color: #dddddd;
    opacity: 0.5;
}

.userInfoMenuButton:active .right {
    border-color: black;
}

.userInfoMenuButton:active .left {
    border-color: black;
}
