.inputTextMain {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input {
    height: 25px;
    width: 100%;
    border-radius: 15px;
    border: 2px #d2d2d2 solid;
    outline: none;
    padding-left: 10px;
    font-size: 14px;
    transition: 0.8s;
}

.input:hover {
    border: 2px #00BB22 solid;
}

.input:focus {
    border: 2px #00BB22 solid;
}